
.about{

//**************INTRO BOXES*****************
    .row1{
        margin-top: 0px;
        .aboutimage1{
         height: 300px;
         background-image: url(../images/aboutimage1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .text1{
            margin-top: 70px;
            height: auto;
            text-align: center;
           }
    }
    .row2{
        margin-top: 0px;
        .aboutimage2{
        height: 300px;
        background-image: url(../images/aboutimage2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        } 
        .text2{
            margin-top: 70px;
            height: auto;
            text-align: center;
            color: black;
           }
    }
    .row3{
        margin-top: 0px;
        .aboutimage3{
        height: 300px;
        background-image: url(../images/aboutimage3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        } 
        .text3{
            height: auto;
            text-align: center;
           }
    }
}

//**************GET TO KNOW US TEXT*****************

.getToKnowUs
{
    text-align: center;
    margin: 100px 0px 70px 0px;
}

.cardContainer
{    padding: 0;
    
.cards
{
        display: flex;
        justify-content: space-evenly;
        .card {
        height: 500px;
        width: 350px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
            }
        }

    .button
    {
        color: $primaryColor;
        border-radius: 25px;
        border: 2px solid $primaryColor;
        padding: 5px 10px;;

    }

    .border
    {
        border-style: solid;
        margin-top: 50px;
        height: 500px;
        box-shadow: 6px 6px 6px grey;

    }
}
}




//**************FOOTER*****************
.footer
{ 
    //background-color: black;
    //color: white;
    margin-top: 50px;
    height: 120px;
    padding-top: 20px;
    
    .insta {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 30px;
        
      }

      .fBook
      {
        font-size: 30px;
      }

    .logo
    {
        height: 60px;
        width: 100px;
        cursor: pointer;
        margin-right: auto;
        cursor: default;
    }
    .footerContact
    {
        font-size: 10px;
    }
    .copyRight
    {
        font-size: 7px;
        margin-top: 35px;
    }
}

.cardContainer {
    display: flex;
    justify-content: center;

    .cards {
        display: block;


        .card {
            margin-top: 10px;

        }
    }
}




@media (min-width: 950px){
    .cardContainer {
        display: block;

        .cards {
            display: flex;
            }     
    }

    .about
    {
        margin-top: 90px;
        .row
        {
            margin-top: 60px;
        }
    }

    


    // .getToKnowUs
    // {
    //     text-align: center;
    //     margin: 100px 0px 70px 0px;
    //     color: blue;
    // }

}