//**************Main Content*****************
.aboutBg{
    background-image: url(../images/aboutbg.jpg);
    display: flex;
    background-position: center;
}

.about{
    overflow-x: hidden;
    .aboutImageStyling{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .row1{
        .aboutimage1{
         background-image: url(../images/drillLarge.jpg);
        
        }
        .text1{
            height: auto;
            text-align: center;
            margin-top: 70px;
            padding-left: 40px;
            padding-right: 40px;
           }
    }
    .row2{
        .aboutimage2{
        background-image: url(../images/aboutBuiltForLiving.jpg);
        } 
        .text2{
            margin-top: 70px;
            height: auto;
            text-align: center;
            color: black;
            padding-left: 40px;
            padding-right: 40px;
           }
    }
    .row3{
        .aboutimage3{
        background-image: url(../images/ourMission.jpg);
        } 
        .text3{
            margin-top: 70px;
            height: auto;
            text-align: center;
            color: black;
            padding-left: 40px;
            padding-right: 40px;
           }
    }
}



//**************Adjust for large screen*****************
@media (min-width: 950px){
.about
    {
        margin-top: 70px;
        .row
        {
            margin-top: 40px;
        }
    }
}