//**************GET TO KNOW US TEXT*****************

.getToKnowUs {
    text-align: center;
    margin: 90px 0 30px;
     
}

.cardContainer {
    padding: 0;
    display: flex;
    justify-content: center;

    .cards {
        display: block;
        justify-content: space-evenly;
        margin: 50px 0;
        

        .card {
            height: 350px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 10px 10px 10px;
            box-shadow: 6px 6px 6px grey;
            position: relative;
            h2 {
                &:after {
                    background-color: $primaryColor;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2.5px;
                    width: 50px;
                    margin: 0 auto;
                }
            }

            img {
                height: 130px;
                width: 130px;
                border-radius: 100px;
                
            }
        }

        .button {
            color: black;
            position: absolute;
            bottom: 20px;
            margin: auto;
            left: 0;
            right: 0;

            &:hover {
                color: white;
                border: 2px solid black;
            }
        }
    }
}

@media (min-width: 950px) {
        .cardContainer {
        display: block;

        .cards {
            display: flex;
        }
}
}
