//**************GET TO KNOW US TEXT*****************

.getToKnowUs {
    text-align: center;
    margin: 90px 0 0px;
     
}

.newCardContainer{
    display: flex;
    margin-bottom: 70px;
    padding: 0px;
    justify-content: center;


    
    .newCards{
        display: block;
        justify-content: space-evenly;
        text-align: center;
        

        .newCard{
            display: flex;
            flex-direction: column;
            border: solid lightgray 1px;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all .3s cubic-bezier(.25,.8,.25,1);
            margin-top: 25px;

            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            .card-body{
                
                h2{
                    font-size: 30px;

                    &:after {
                        background-color: $primaryColor;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 2.5px;
                        width: 50px;
                        margin: 0 auto;
                    }
                }

                p{
                    margin-bottom: 30px;
                }

                .cardButton{
                    color: black;
                    

                    &:hover {
                        color: white;
                        border: 2px solid black;
                        text-decoration: none;
                    }
                }
                
            }
            
            
    }
}

}

@media (min-width: 950px) {
            .newCardContainer {
            display: block;
            margin-top: 75px;
            margin-bottom: 100px;
    
            .newCards {
                display: flex;
            }
    }
    }
