.contactBg{
    background-image: url(../images/contactbg.jpg);
    background-position: center;
}

.contact
{
    margin-bottom: 100px;

    .verticalBorder
    {
        border-left: solid red 2px;
        padding-left: 30px;
    }
    
    .spacer
    {
        margin-bottom: 40px;
    }

    .formSpacer
    {
        margin-bottom: 20px;
    }

    .nameSpacer{
        margin-top: 40px;
    }

    .requiredField
    {
        margin-top: 60px;
    }

    .inputHeight
    {
        height: 40px;
    }

    .commentHeight
    {
        height: 100px;
    }


    .button {
        color: black;

        &:hover {
            color: white;
            border: 2px solid black;
        }
    }
} 
