.contactBg{
    background-image: url(../images/whiteKitchenCenteredC.jpg);
}

.contact
{
    margin-bottom: 100px;

    .verticalBorder
    {
        border-left: solid red 2px;
        padding-left: 30px;
    }
    .spacer
    {
        margin-bottom: 40px;
    }

    .formSpacer
    {
        margin-bottom: 20px;
    }

    .nameSpacer{
        margin-top: 40px;
    }

    .requiredField
    {
        margin-top: 60px;
    }

    .inputHeight
    {
        height: 40px;
    }

    .commentHeight
    {
        height: 100px;
    }

.contactButton
    {
        color: $primaryColor;
        border-radius: 25px;
        border: 2px solid $primaryColor;
        padding: 5px 10px;
        width:100px;
        background: none;
    }
} 
