.filter{
    margin-bottom: 30px;
   

    .allFilters{
        margin: 5px 0;
    }
    

    .bedroom
    {
        text-align: left;
        width: 100%;
    }
    
    .bathroom{
        text-align: left;
        
    }

    .sqfeet{
        text-align: left;
    }

    .filterButton{
        padding: 2px 15px;
        margin: 2px 0;
        background: none;
        border: 2px solid #DFDFDF;
        border-radius: 50px;
        color: black;
        transition: all 0.3s ease 0s;
        outline: none;
        
        
        &:hover{
            border-color: black !important;
        }
    }

    #clearBtn {
        width: 50%;
        margin-top: 30px;
    }
}

.floorPlansBg{
    background-image: url(../images/croppedFloorPlansbg.jpg);
    background-position: center;
}

// /* Modal Styles */
// .modal {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.75); /* Black w/ opacity */



//     .modal-content {
//         background-color: #fefefe;
//         margin: 30% auto; /* 15% from the top and centered */
//         padding: 20px;
//         border: 1px solid #888;
//         width: 100%; /* Could be more or less, depending on screen size */

//         .specs{
//             margin-top: 10px;
//             h3 {
//                 display: inline-block;
//             }
//         }



//         .modalImg {
//             width: 100%;
//             max-width: 950px;
//             height: auto;

//             display: block;
//             margin: 0 auto;
//         }


//         .close {
//             color: #aaa;
//             text-align: right;
//             font-size: 28px;
//             font-weight: bold;

//             &:hover, &:focus{
//                 color: black;
//                 text-decoration: none;
//                 cursor: pointer;
//             }

//         }


//     }
// }

.floorPlanContainer {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $primaryBMargin;
    min-height: 50vh;
    

    .floorPlanCards {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        .floorPlanCard {
            height: 380px;
            width: 300px;
            display: flex;
            flex-direction: column;
            box-shadow: 6px 6px 6px grey;
            margin: 10px;
            padding-bottom: 20px;
            
            .floorPlanText{
                padding-left: 10px;
            }

            .grayShade{
            background-color: #dadada;
            width: 150px;
            text-align: center;
            opacity: 100%;
            }

            

            img {
                height: 200px;
                width: 100%;

            }
        }

        .floorPlansButton {
            
        }
    }
}

// @media (min-width: 535px) {
//     .floorPlanContainer {

//         .floorPlanCards {
    
//             .floorPlanCard {
//                 width: 300px;
//                 margin: 10px 30px;
//             }
//         }
//     }    

// }    

@media (min-width: 800px) {

    /* Modal Styles */
.modal {

    .modal-content {
        margin: 5% auto; /* 15% from the top and centered */
        width: 80%; /* Could be more or less, depending on screen size */
    }   
    
}

}

@media (min-width: 950px) {

    .floorPlanContainer {

        .floorPlanCards {
    
            .floorPlanCard {
                margin: 10px 30px;
            }
        }
    }    

    .filter{
        margin-bottom: 10px;
    
    }
}
