.footer {
    padding: 20px 0;
    background: #3a3a3a;
    font-family: $secondaryText;

    .footerCards {

        .footerSocial{

            i{
                font-size: 50px;
                margin: 0 5px;
            }
        }
        
        .insta {
            color: transparent;
            background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
            background: -webkit-radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 30px;
        }
    
        .fBook {
            font-size: 30px;
        }
    
        .logo {
            height: 60px;
            width: 120px;
            cursor: default;
            margin-bottom: 20px;
        }
        .footerContact {
            color: white;
    
            .bold {
                font-size: 18px;
                text-transform: uppercase;
            }
    
            p{
                margin: 0;
            }
        }
    }

}

.copyright {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    background: #1C1C1C;
    color: white;
    letter-spacing: 1.3px;
    
}

@media (min-width: 950px) {
    .footer {
        .footerCards{
            .footerContact{
                .bold {
                    font-size: 20px;
                }
            }
        }
    }
}
