//Home Jumbo
.homeJumbo {
    height: 93vh;
    background-image: url(../images/homeBGLarge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    text-align: center;
    margin-bottom: $primaryBMargin;
    position: relative;
    

    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    .homeJumboCont {
        margin: 0 11.5%;
        display: flex;
        align-items: center;
        height: 100%;
        


        .scroll-down-arrow {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        .scroll-down-link {
            position: absolute;
            z-index: 90;
            cursor:pointer;
            height: 60px;
            width: 50px;
            // margin: 0px 0 0 -40px;
            left: 0px;
            right: 0px;
            margin: auto;
            line-height: 60px;
            bottom: 10px;
            color: #FFF;
            text-align: center;
            font-size: 70px;
            text-decoration: none;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
            -webkit-animation: fade_move_down 2s ease-in-out infinite;
            -moz-animation:    fade_move_down 2s ease-in-out infinite;
            animation:         fade_move_down 2s ease-in-out infinite;
            /*animated scroll arrow animation*/
            @-webkit-keyframes fade_move_down {
              0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
              50%  { opacity: 1;  }
              100% { -webkit-transform:translate(0,20px); opacity: 0; }
            }
            @-moz-keyframes fade_move_down {
              0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
              50%  { opacity: 1;  }
              100% { -moz-transform:translate(0,20px); opacity: 0; }
            }
            @keyframes fade_move_down {
              0%   { transform:translate(0,-20px); opacity: 0;  }
              50%  { opacity: 1;  }
              100% { transform:translate(0,20px); opacity: 0; }
            }
        }


        
        .homeText {
            width: 100%;
            color: white;

            h1 {
                font-size: 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            p {
                font-family: $secondaryText;
                font-size: 20px;
                margin-bottom: 50px;
            }

            button {
                margin-top: 10px;
            }
        }
    }
}

//Home Container
.homeCont {
    margin-bottom: $primaryBMargin;
    h2 {
        text-align: center;
        font-size: $primarySize;
        margin-bottom: 30px;

        &:after {
            background-color: $primaryColor;
            bottom: 0;
            content: "";
            display: block;
            height: 2.5px;
            width: 50px;
            margin: 0 auto;
        }
    }

    .promiseCont {
        text-align: center;
        margin: auto 0;

        i {
            font-size: 40px;
            text-shadow: 5px 9.36px 7.896px rgba(0,0,0,0.3);
            margin-bottom: 10px;
        }

        img {
            height: 50px;
        }

        .promiseCol {
            margin: 10px 0;
            padding: 0px 15px;
            width: 100%;

            h3{
                margin: 0;
            }

            p{
                padding: 0 20px;
                margin-top: 5px;
            }
        }
    }

    .promiseImg {
        position: relative;
        height: 400px;
        background-image: url(../images/homeFlower.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;

        .blackBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            width: 50%;
            height: 65px;
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        .redBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(255, 0, 0, 0.7);
            width: 50%;
            height: 65px;
            color: white;
            text-align: center;
            text-transform: uppercase;
        }

        h3 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}

// *************** Presidents Park ***************
.pPark {
    padding: 0;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: $primarySize;

        &:after {
            background-color: $primaryColor;
            bottom: 0;
            content: "";
            display: block;
            height: 2.5px;
            width: 50px;
            margin: 0 auto;
        }
    }

    .pParkImageContainer {
        position: relative;
        height: 500px;
        background-image: url(../images/presparkbg.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;

        .presParkText {
            color: white;
            position: absolute;
            top: 5%;
            font-size: 15px;
            left: 10%;
            right: 10%;
        }

        .pImageOverlay {
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        h3 {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            color: white;


            i {
                font-size: 25px;
                margin: 0 10px;
            }
        }
    }
}

// *************** Home Gallery ***************
.homeGallery {
    padding: 0;
    margin-bottom: $primaryBMargin;

    .homeGalleryContainer {
        position: relative;
        height: 500px;
        background-image: url("../images/homeGallery.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        text-align: center;

        .homeGalleryOverlay {
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        .homeGalleryButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


@media (min-width: 950px) {
    //Home Jumbo
    .homeJumbo {
        height: 100vh;
        text-align: left;

        .homeJumboCont {
            .homeText {
                // padding: 190px 0px;
                margin-bottom: 150px;

                h1 {
                    font-size: 65px;
                }
            }
        }
    }

    .homeGallery {
        padding: 0;
        
    }

    .pPark {
    
        .pParkImageContainer {

    
            .presParkText {
                color: white;
                position: absolute;
                top: 15%;
                font-size: 20px;
                left: 15%;
                right: 15%;
            }
    
            .pImageOverlay {
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
    
            h3 {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                color: white;

                &:hover {
                    font-size: 31px;
                }
    

    
                i {
                    font-size: 25px;
                    margin: 0 10px;
                }
            }
        }
    }
}  


@media (min-width: 1200px) {
    .homeCont{
        .promiseImg{
            height: 600px;
        }
    }

}

@media (min-width: 1200px) {
    .homeCont{
        .promiseImg{
            height: 600px;
        }
    }

}

@media (min-width: 1500px) {
    .homeCont{
        .promiseImg{
            height: 520px;
        }
    }

}