.aboutbg 
    {
        height: 600px;
        background-image: url(../images/aboutbg.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding:0;

    .overlay
        {
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.2);
            text-align: center;
        }

    }

.box
    {
        text-align: center;
        padding-top: 50px;;
        color: white;
        background: none;
    }