//**************GET TO KNOW US TEXT*****************
.ownerContainer {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .ownerCards {
        display: block;
        justify-content: space-evenly;

        .ownerCard {
            height: auto;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .ownerName {
                margin-top: 40px;
            }

            img {
                height: 350px;
                width: 300px;
            }
        }
    }
}

.ownerBg {
    background-image: url(../images/ownerbg.jpg);
}

//**************Media Query*****************
@media (min-width: 950px) {
    .ownerContainer {
        display: block;

        .ownerCards {
            display: flex;
        }
    }
}
