.agents{
    .agentImage1{
        border-radius: 100px;
        height: 320px;
        width: 265px;
        margin-bottom: 70px;
    }

    .agentImage2{
        border-radius: 100px;
        height: 320px;
        width: 280px;

    }
}