.agentbg {
    background-image: url(../images/agentbg.jpg);
    background-position: top;
}

.agents {
    overflow-x: hidden;

    .agentBorder {
        border-left: solid red 2px;
        padding-left: 15px;
    }

    p {
        margin-bottom: 5px;
    }

    .agentContact {
        display: flex;
        align-items: center;
        margin-bottom: 20px;;

        i {
            font-size: 20px;
        }



        .callingAgents {
            color: white;
            text-decoration: none;
        }
    }

    margin-bottom: $primaryBMargin;
    .agentImages {
        height: 250px;
        width: 250px;
        border-radius: 100%;
    }

    .agentRow1 {
        margin-bottom: $primaryBMargin;
        padding: 10px 0px;
    }

}


//**************Media Query*****************
@media (min-width: 650px) {
    .agents{
        .agentImages {
            height: 300px;
            width: 300px;
            border-radius: 100%;
        }
    }
}


@media (min-width: 799px) {
    .agents{
        .agentImages {
            height: 320px;
            width: 320px;
            border-radius: 100%;
        }
    }

}
