.agentbg{
    background-image: url(../images/agentbg.jpg);
    background-position: top;
}

.agents {
    overflow-x: hidden;

    margin-bottom: $primaryBMargin;
    .agentImage1 {
        height: 320px;
        width: 320px;
        border-radius: 100%;

    }

    .agentImage2 {
        border-radius: 100%;
        height: 320px;
        width: 320px;
    }

    .agentRow1 {
        margin-bottom: 20px;
        padding: 10px 0px;
    }

    .agent1Text {
        border-left: solid red 2px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .agent2Text {
        border-left: solid red 2px;
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 950px) {
    .agents {

        .agent1Text {
            border-left: solid red 2px;
            margin-left: 0px;
            margin-top: 0px;
        }
    
        .agent2Text {
            border-left: solid red 2px;
            margin-left: 0px;
            margin-top: 0px;
        }
        
        .agentImage2 {
            // margin-right: 100px;
        }
    }
}
