.pastProjectsBg {
    background-image: url(../images/rocks.jpg);
    background-position: center;
    margin-bottom: 0;
}

//**************Main Content*****************

.pastProjectOptions {
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #dadada;
    button {
        border: none;
        background: none;
        margin: 0 3px;
        outline: none;
    }
}

.projectImages {
    .projectsGrid {
        .com{

            img{
            height: 203px;
        }
    }
        .projectsCell {
            margin: 1rem;
            text-align: center;
            h1{
                font-size: 25px;
            }

            .responsiveImage {
                max-width: 100%;
                display: block;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                &:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                        0 10px 10px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }
}

.modal{
    
    
}





//**************Adjust for large screen*****************
@media (min-width: 540px) {
    //**************Main Content*****************
    .galleryBg {
    }

    .pastProjectOptions {
        button {
            margin: 0 2%;
            font-size: 25px;
        }
    }

    //**************gallery images*****************
    .projectImages {
        .projectsGrid {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .projectsCell {
                width: calc(50% - 2rem);
                .responsiveImage {
                }
            }
        }
    }
}

@media (min-width: 950px) {
    //**************Main Content*****************
    .galleryBg {
    }

    .pastProjectOptions {
        button {
            margin: 0 5%;
        }
    }

    //**************gallery images*****************
    .projectImages {
        .projectsGrid {
            .projectsCell {
                width: calc(50% - 2rem);
                .responsiveImage {
                    height: 300px;
                    width: 100%;
                }
            }
        }
    }
}
