.presParkbg{
    background-image: url(../images/presparkbg.jpg);
    background-position: center;
}

.presParkOutline{
    background-image: url(../images/presParkOutline.jpg);
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
}


.presPark {
    padding: 0;
    margin-bottom: $primaryBMargin; //delete this

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: $primarySize;

        &:after {
            background-color: $primaryColor; 
            bottom: 0;
            content: '';
            display: block;
            height: 2.5px;
            width: 50px;
            margin: 0 auto;
        }
    }

    .presParkImageContainer {
        position: relative;
        height: 600px;
        background-image: url(../images/pickleBallbg.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;

        .presImageOverlay {
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.5);
        }

        h1{
            position: absolute;
            top: 40%;
            left: 52%;
            transform: translate(-50%, -50%);
            font-size: 45px;
            color: white;
        }

        .onImage{
            position: absolute;
            top: 60%;
            left: 52%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            color: white;
        }
    }
}

.presParkFeatures{
    margin-bottom: 50px;
}

.circle{
    border-radius: 100px;
    background: $primaryColor;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.circles{
    margin-bottom: $primaryBMargin;
    


    .icons{
        font-size: 50px;
        color:$primaryColor;
    }

    .circle{
        border-radius: 80px;
        background: white;
        height: 110px;
        width: 110px;
        margin: 10px auto;
        border: solid $primaryColor 1px;

    }

}

@media (min-width: 950px){
    .circles{
        flex-wrap: nowrap;
    }
}