.testimonialBg{
    background-image: url(../images/quotesCroppedFinal.jpeg);
    background-position: center;
}

.testimonialContainer{
   
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: $primaryBMargin;
    

    .testimonialCards {
        display: block;
        justify-content: space-evenly;


        .row1{
            box-shadow: 4px 4px 10px grey;
        }
        
        .testCard2{
            
                height: auto;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: left;
                padding: 20px 10px;
                background-color:#FFE4E1;
                border-radius: 8px;

                margin-top: auto;
                margin-bottom: auto;
                position: relative;
        
    }

        .testCard1 {
            height: 300px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 10px 10px 10px;
            
            margin-top: 10px;
            position: relative;

            q{
                font-style: italic;
            }


            h2 {
                font-size: 20px;
                &:after {
                    background-color: $primaryColor;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2.5px;
                    width: 50px;
                    margin: 5px auto 0px auto;
                }
           }

           p{
            font-size: 12px;

        }

            img {
                height: 150px;
                width: 150px;
                border-radius: 100px;
                margin-bottom: 10px;
            }
        }
        }
    }



@media (min-width: 950px) {
    .testimonialContainer {
        display: block;

        .testimonialCards {
            display: flex;
        }
    }
}

    