@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

$primaryText: 'Open Sans', sans-serif, arial;
$secondaryText: 'Roboto', sans-serif, arial;

$primaryColor: #FF0000;

$primarySize: 48px;

$primaryBMargin: 70px;

$maxWidth: 2440px;