@import "./variables";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: $primaryText;
}

.maxWidth {
    max-width: $maxWidth;
}

.primaryBtn{
    color: white;
    border-radius: 25px;
    border: 3px solid $primaryColor;
    padding: 10px 30px;
    background: none;
    transition: all 0.3s ease 0s;

    &:hover {
        color: white;
        background: black;
        border: 3px solid black;
    }
}


@import "./nav";
@import"./jumbotronTemplate";
@import "./home";
@import"./about";
@import"./meetTheOwners";
@import"./footer";
@import"./cards";
@import"./contact";
@import"./testimonials";
@import"./_meetTheAgents";





