* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat;
}

@import "./variables";
@import "./nav";
@import "./home";


