@import "./variables";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: $primaryText;
}


@import "./nav";
@import"./jumbotronTemplate";
@import "./home";
@import"./about";
@import"./meetTheOwners";
@import"./footer";
@import"./dropDown";





